.light-rays-container {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.light-rays-container canvas {
    display: block;
    opacity: 0.6;
    /* Subtle by default */
}